@use "../../style/index" as mixins;
$prefix: "adui-drawer";

.#{$prefix} {
  &-wrapper,
  &-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  &-mask {
    will-change: opacity;
    background-color: rgba(0, 0, 0, 0.65);
    pointer-events: initial;
  }

  &-wrapper {
    outline: none;
    z-index: var(--z-index-dialog);
    pointer-events: none;
  }

  &-inner {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: var(--box-shadow-elevation-4);
    pointer-events: initial;
    overflow: auto;
    @include mixins.scrollbar();
  }

  &-header {
    flex: none;
    position: sticky;
    z-index: 1;
    top: 0;
    display: flex;
    align-items: center;
    padding-left: 4px;
    height: 72px;
    background-color: #fff;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06), 0 3px 6px 0 rgba(0, 0, 0, 0.04);

    &-content {
      flex: 1;
    }

    &-close {
      flex: none;
    }

    &-divider {
      flex: none;
      margin-right: 4px;
      margin-left: 4px;
      width: 1px;
      height: 24px;
      background-color: var(--gray-300);
    }
  }

  &-body {
    flex: 1;
    min-height: 0;
  }

  &-left,
  &-right {
    top: 0;
    min-width: 280px;
    height: 100vh;

    &.#{$prefix} {
      &-large {
        max-width: 1440px;
        width: 90vw;
      }
      &-medium {
        max-width: 1280px;
        width: 70vw;
      }
      &-small {
        max-width: 960px;
        width: 40vw;
      }
      &-mini {
        max-width: 400px;
        width: 25vw;
      }
    }
  }

  &-top,
  &-bottom {
    left: 0;
    width: 100vw;
    min-height: 72px;

    &.#{$prefix} {
      &-large {
        height: 90vh;
      }
      &-medium {
        height: 70vh;
      }
      &-small {
        height: 40vh;
      }
      &-mini {
        height: 25vh;
      }
    }
  }

  &-left {
    left: 0;
  }

  &-right {
    right: 0;
  }

  &-top {
    top: 0;
  }

  &-bottom {
    bottom: 0;
  }

  // React Animation 相关
  &-mask-appear,
  &-mask-enter {
    opacity: 0;
  }
  &-mask-appear.#{$prefix}-mask-appear-active,
  &-mask-enter.#{$prefix}-mask-enter-active {
    opacity: 1;
    transition: all var(--motion-duration-base) var(--ease-out);
  }
  &-mask-leave {
    opacity: 1;
  }
  &-mask-leave.#{$prefix}-mask-leave-active {
    opacity: 0;
    transition: all var(--motion-duration-base) var(--ease-in);
  }
  &-top-appear,
  &-top-enter {
    opacity: 0.5;
    transform: translate3d(0, -100%, 0);
  }
  &-right-appear,
  &-right-enter {
    opacity: 0.5;
    transform: translate3d(100%, 0, 0);
  }
  &-bottom-appear,
  &-bottom-enter {
    opacity: 0.5;
    transform: translate3d(0, 100%, 0);
  }
  &-left-appear,
  &-left-enter {
    opacity: 0.5;
    transform: translate3d(-100%, 0, 0);
  }
  &-top-appear.#{$prefix}-top-appear-active,
  &-top-enter.#{$prefix}-top-enter-active,
  &-right-appear.#{$prefix}-right-appear-active,
  &-right-enter.#{$prefix}-right-enter-active,
  &-bottom-appear.#{$prefix}-bottom-appear-active,
  &-bottom-enter.#{$prefix}-bottom-enter-active,
  &-left-appear.#{$prefix}-left-appear-active,
  &-left-enter.#{$prefix}-left-enter-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: all var(--motion-duration-slow) var(--ease-out);
  }
  &-top-leave,
  &-right-leave,
  &-bottom-leave,
  &-left-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  &-top-leave.#{$prefix}-top-leave-active {
    opacity: 0.5;
    transform: translate3d(0, -100%, 0);
    transition: all var(--motion-duration-base) var(--ease-in);
  }
  &-right-leave.#{$prefix}-right-leave-active {
    opacity: 0.5;
    transform: translate3d(100%, 0, 0);
    transition: all var(--motion-duration-base) var(--ease-in);
  }
  &-bottom-leave.#{$prefix}-bottom-leave-active {
    opacity: 0.5;
    transform: translate3d(0, 100%, 0);
    transition: all var(--motion-duration-base) var(--ease-in);
  }
  &-left-leave.#{$prefix}-left-leave-active {
    opacity: 0.5;
    transform: translate3d(-100%, 0, 0);
    transition: all var(--motion-duration-base) var(--ease-in);
  }
}
