$prefix: "adui-channels-pagination";

.#{$prefix} {
  &-base {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
  }
  &-left {
    justify-content: flex-start;
  }
  &-center {
    justify-content: center;
  }
  &-right {
    justify-content: flex-end;
  }
  &-text {
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
  }
  &-input {
    margin-left: 40px;
    margin-right: 16px;
    width: 44px;
    height: 24px;
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.04);
    border: none;
    border-radius: 4px;
    outline: none;

    &-btn {
      font-size: 14px;
      color: #576b95;
      cursor: pointer;
    }
  }
  &-btn {
    min-width: 0;
    width: 32px;
    height: 32px;
    font-size: 0;
    background: url(https://wxa.wxs.qq.com/wxad-design/yijie/adui-pagination-arrow.png)
      no-repeat 50% / contain;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: #ebebeb;
    }

    &-right {
      transform: scaleX(-1);
    }
  }
}
