$prefix: "adui-popover";
$tooltipPrefix: "adui-tooltip";

.#{$prefix} {
  &-popover {
    .#{$tooltipPrefix} {
      &-content {
        position: relative;
        color: var(--gray-900);
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 0 0 1px var(--transparent-gray-100);
        filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.05))
          drop-shadow(0 6px 15px rgba(0, 0, 0, 0.05));
      }
    }

    &:not(.#{$prefix}-popover_noArrow) {
      .#{$tooltipPrefix} {
        &-arrow {
          width: 8px;
          height: 21px;
          background-image: url("https://wxa.wxs.qq.com/wxad-design/yijie/adui-popover-arrow.png");
          background-size: 100% 100%;
          border: none;
        }
      }

      &.#{$tooltipPrefix}-base-top,
      &.#{$tooltipPrefix}-base-topLeft,
      &.#{$tooltipPrefix}-base-topRight {
        .#{$tooltipPrefix}-arrow {
          bottom: -14px;
          transform: rotate(90deg);
        }
      }

      &.#{$tooltipPrefix}-base-right,
      &.#{$tooltipPrefix}-base-rightTop,
      &.#{$tooltipPrefix}-base-rightBottom {
        .#{$tooltipPrefix}-arrow {
          left: -8px;
          transform: rotate(180deg);
        }
      }

      &.#{$tooltipPrefix}-base-bottom,
      &.#{$tooltipPrefix}-base-bottomLeft,
      &.#{$tooltipPrefix}-base-bottomRight {
        .#{$tooltipPrefix}-arrow {
          top: -14px;
          transform: rotate(-90deg);
        }
      }

      &.#{$tooltipPrefix}-base-left,
      &.#{$tooltipPrefix}-base-leftTop,
      &.#{$tooltipPrefix}-base-leftBottom {
        .#{$tooltipPrefix}-arrow {
          right: -8px;
          transform: rotate(0deg);
        }
      }

      &.#{$tooltipPrefix}-base-top,
      &.#{$tooltipPrefix}-base-bottom {
        .#{$tooltipPrefix}-arrow {
          margin-left: -4px;
        }
      }

      &.#{$tooltipPrefix}-base-left,
      &.#{$tooltipPrefix}-base-right {
        .#{$tooltipPrefix}-arrow {
          margin-top: -10.5px;
        }
      }
    }
  }
  &-popover_noArrow {
    .#{$tooltipPrefix}-arrow {
      display: none;
    }
  }
  &-removeContentPadding {
    .#{$tooltipPrefix}-content {
      padding: 0;
    }
  }
}
